.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
  color: red;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
}
  .text-animate-hover:hover {
    animation:ease-in 1s ;
    animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
    color: #ffd700;
  }


/* @for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
} */
