:root {
  --light-black: rgb(58, 55, 55);
  --red: rgb(0, 26, 255);
}

.App {
  /* text-align: center; */

  margin-top: 6.5vh;
  background-color: var(--red);
  height: 10px;
}
.studentName {
  color: brown;
}

.ChatbotContainer {
  width: 100px;
  overflow: hidden;
  background-color: var(--red);
  height: 100px;
}

#chatBotId {
  width: 100px;
  overflow: hidden;
  background-color: var(--red);
  height: 200px;

  /* margin-right: calc(10px,1); */
}
/* 
* {
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
} */

.NavLink {
  text-decoration: none;
  padding-top: 10px;
  padding-right: 10px;
  color: var(--light-black);
}

/* .NavLinkBrand {
  text-decoration: none;
  font-size: large;
  padding-top: 10px;
  padding-right: 10px;
  color: var(black);
  font-weight: bolder;
  color: isActive ? "bold" : "lighter"
} */
.navbarclass{

  background-color: aqua!important;
  display: flex;
  flex-direction: row;
  
  
  
}
